.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field {
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius-sm);
  padding: 1.25rem 1.5rem;
  font-size: var(--font-size-md);
  color: var(--input-text-placeholder-color);
  outline: none;
  transition: border-color 0.2s;

  &:focus {
    border-color: var(--primary-color-light);
  }

  &::placeholder {
    color: var(--input-text-placeholder-color);
    opacity: 0.45;
  }
}

.error {
  color: var(--error-color);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
}

.errorWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
}
