:root {
  --primary-color: #30107d;
  --primary-color-light: #401a9b;
  --background-color: #f1f5f8;
  --modal-background-color: #fdfdfd;
  --modal-overlay-color: #0000009a;
  --background-color-white: #ffffff;

  --text-title-color: #4e5555;
  --text-title-color-light: #484f55;
  --text-body-color: #4c5a5a;
  --text-caption-color: #b9b9b9;
  --text-white-color: #ffffff;

  --input-background-color: #f9f9f9;
  --input-border-color: #d9d9d9;
  --input-text-placeholder-color: #555555;

  --success-color: #06d6a2;
  --error-color: #db3766;

  --font-family-poppins: "Poppins", sans-serif;
  --font-family-roboto: "Roboto", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-xs: 0.75rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
}
